.container {
  display: block;
  max-width: 720px;
  padding: 40px, 70px, 40px 70;
  margin: 100px 150px 100px 150px;
}
.Weather-app {
  border: 1px solid darkgray;
  padding: 30px;
  border-radius: 10px;
  background-color: #f9f7fd;
}
.fa-moon {
  color: rgb(70, 110, 240);
  font-size: 60px;
}
.btn-primary {
  color: yellow;
  background-color: rgb(70, 110, 240);
  font-size: 12px;
}
.details {
  font-size: small;
}
.temperature {
  font-size: 40px;
}
.p {
  font-size: small;
}
h2 {
  font-family: Prompt;
  font-size: 25px;
}
